.home {
	background-color: transparent;
	top: 100px;
	text-align: center;
	vertical-align: center;
	font-size: 220%;
	line-height: 150%;	
	color: #DAF7A6;
}

.picture {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
}

.Biodata {
	background-color: transparent;
	top: 100px;
	text-align: center;
	vertical-align: center;
	font-size: 220%;
	line-height: 150%;	
	color: #DAF7A6;
}
body {
	background-color: #071534;
	background: linear-gradient(to top right, #0B8077 0%, #071534 100%);
}

.contact {
	background-color: transparent;
	top: 100px;
	text-align: center;
	vertical-align: center;
	font-size: 35px;		line-height: 55px;	
	color: AF7A6;
}
.contact img{
	width: 40px;
	height: 40px;
		}